@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Agbalumo";
    src: url("./assets/fonts/Agbalumo-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/poppins-regular-webfont.woff2") format("woff2");
  }
  @keyframes fadeIn {
    0% {
      display: none;
      opacity: 0;
      bottom: -56px;
    }
    100% {
      display: block;
      opacity: 1;
      bottom: 24px;
    }
  }
  @keyframes fadeOut {
    0% {
      display: block;
      opacity: 1;
      bottom: 24px;
    }
    100% {
      display: none;
      opacity: 0;
      bottom: -56px;
    }
  }
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: #e4b09a;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #e69a7a;
}
