@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Agbalumo";
    src: url("./assets/fonts/Agbalumo-Regular.woff2") format("woff2");
  }
}
@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/poppins-regular-webfont.woff2") format("woff2");
  }
}
